/* ABOUT ME - What I know */
.flipPerspective {
    perspective: 1000px;
}

.flip, .unflip {
    transition: transform 1.2s ease-out;
}

.flip {
    transform: rotateY(-180deg);
}

.unflip {
    transform: rotateY(0deg);
}


