/* GENERAL */
/* SECTION SPACERS */
/* Header spacer - monitor */
@media (min-width: 992px) {
    .header-space-large {
        padding-top: 13rem;
    }
}
/* Header spacer - mobile */
@media (max-width: 991px) {
    .header-space-small {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
/* Top spacer standard - monitor */
@media (min-width: 992px) {
    .top-space-large {
        padding-top: 6rem;
    }
}

/* Top spacer standard - mobile */
@media (max-width: 991px) {
    .top-space-small {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

/* Bottom spacer standard - monitor */
@media (min-width: 992px) {
    .bottom-space-large {
        padding-top: 2rem;
    }
}

/* Bottom spacer standard - mobile */
@media (max-width: 991px) {
    .bottom-space-small {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

/* Footer spacer - monitor */
@media (min-width: 992px) {
    .footer-space-large {
        padding-top: 13rem;
    }
}

/* Footer spacer - mobile */
@media (max-width: 991px) {
    .footer-space-small {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

/* WELCOME */
/* Img shadow */
.shadowMe {
    box-shadow: 10px 10px 150px 10px #5c7070;
}

/* ABOUT ME */
/* About Me Button Design */
.darkAboutButton,
.lightAboutButton {
    font-size: 1.4rem;
    border-top: 2px;
    border-right: 2px;
    border-left: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: transparent;
    border: none;
}

.darkAboutButton.active,
.lightAboutButton.active {
    position: relative;
}

.darkAboutButton.active::before,
.lightAboutButton.active::before,
.darkAboutButton.active::after,
.lightAboutButton.active::after {
    --border-radius: 1rem;
    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    bottom: 0;
}

.darkAboutButton.active::before,
.lightAboutButton.active::before {
    left: calc(var(--border-radius) * -1);
    border-radius: 0 0 100vw 0;
}

.darkAboutButton.active::after,
.lightAboutButton.active::after {
    right: calc(var(--border-radius) * -1);
    border-radius: 0 0 0 100vw;
}

.darkComponentBackground,
.lightComponentBackground {
    border-radius: 12px;
}

/* Shadow Box */
.shadowAbout {
    box-shadow: 20px 20px 100px 5px #5c7070;
}

/* About Me - What I know */
.cardFlip {
    padding: 10px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
}

.front {
    backface-visibility: hidden;
    transform: translateZ(40px);
}

.back {
    padding: 10px;
    transform: rotateY(-180deg) translateZ(40px);
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    font-size: 2.0rem;
}










/* Triangle  */
.Object{
    perspective: 2000px;
    height: 100%;
    /* transform: rotateY(40deg) rotateX(20deg) rotateZ(60deg); */
    transform-style: preserve-3d;
}

.triangle {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height: 550px;
    width: 450px;


    transition: transform 1.2s ease-out;
}


.languages, .frameworks, .tools {
    height: 500px;
    width: 400px;
    position: absolute;
    backface-visibility: hidden;
}

.triangleButtonLeft {
    writing-mode:sideways-lr;
}

.triangleButtonRight {
    writing-mode:sideways-rl;
}

/* .languages{
    background-color: pink;
}

.frameworks{
    background-color: green;  
}

.tools{
    background-color: red;   
} */

:root{
    --axisDistance: 150px;
}

.position1{
    transform: rotateY(0deg) translateZ(var(--axisDistance));
}

.position2{
    transform: rotateY(240deg) translateZ(var(--axisDistance));
}

.position3{
    transform: rotateY(120deg) translateZ(var(--axisDistance));
}