/* THEME CHANGES */
/* Main Background */
.darkGradientBackground {
    background: linear-gradient(158deg, rgba(2, 0, 36, 1) 0%, rgba(21, 93, 159, 1) 50%, rgba(12, 125, 148, 1) 100%);
}

.lightGradientBackground {
    background: linear-gradient(320deg, rgba(179, 177, 0, 1) 0%, rgba(61, 186, 230, 1) 29%, rgba(143, 236, 255, 1) 67%);
}

:root {
    /* Dark Mode */
    --defaultDarkBackground: #000000;
    --defaultDarkText: #ffffff;
    --pillDarkBackground: #ffffff;
    --pillDarkText: #000000;
    --emphasisDark: #ffc400;

    /* Light Mode */
    --defaultLightBackground: #ffffff;
    --defaultLightText: #000000;
    --pillLightBackground: #000000;
    --pillLightText: #ffffff;
    --emphasisLight: #201df8;
}

/* NAV */
/* Background */
.darkNav {
    background-color: var(--defaultDarkBackground);
    color: var(--defaultDarkText) !important;
}
.lightNav {
    background-color: var(--defaultLightBackground);
    color: var(--defaultLightText) !important;
}

.test {
    border-bottom: 1px solid var(--emphasisDark);
}

/* Pills */
.darkPill {
    background-color: var(--defaultDarkBackground)!important;
    color: var(--defaultDarkText) !important;
}
.lightPill {
    background-color: var(--defaultLightBackground)!important;
    color: var(--defaultLightText) !important;
}

.darkPill:hover {
    background-color: var(--pillDarkBackground) !important;
    color: var(--pillDarkText) !important;
}
.lightPill:hover {
    background-color: var(--pillLightBackground) !important;
    color: var(--pillLightText) !important;
}



/* GENERAL */
/* General Text */
.darkText {
    color: var(--defaultDarkText) !important;
}

.lightText {
    color: var(--defaultLightText) !important;
}

/* Special Text */
.darkEmphasisText {
    color: var(--emphasisDark) !important;
}

.lightEmphasisText {
    color: var(--emphasisLight) !important;
}

.darkBorder {
    border-bottom: 2px solid var(--emphasisDark);
}
.lightBorder {
    border-bottom: 2px solid var(--emphasisLight);
}
