/* THEME CHANGES */
/* Main Background */
.darkGradientBackground {
    background: linear-gradient(158deg, rgb(4, 1, 51) 0%, rgb(33, 107, 175) 50%, rgba(12, 125, 148, 1) 100%);
}

.lightGradientBackground {
    background: linear-gradient(320deg, rgba(179, 177, 0, 1) 0%, rgba(61, 186, 230, 1) 29%, rgba(143, 236, 255, 1) 67%);
}

:root {
    /* DARK MODE */
    /* Texts */
    --defaultDarkText: #ffffff;
    --emphasisDark: #ffc400;
    /* Nav Background and Pills */
    --defaultDarkBackground: #000000;
    --pillDarkBackground: #ffffff;
    --pillDarkText: #000000;
    /* About Me Background */
    --darkComponentBackground: #06172b;

    /* LIGHT MODE */
    /* Texts */
    --defaultLightText: #000000;
    --emphasisLight: #15ac3a;
    /* Nav Background and Pills */
    --defaultLightBackground: #ffffff;
    --pillLightBackground: #000000;
    --pillLightText: #ffffff;
    /* About Me Background */
    --lightComponentBackground: #d6d6b8;
}

/* NAV */
/* Background */
.darkNav {
    background-color: var(--defaultDarkBackground);
    color: var(--defaultDarkText) !important;
}

.lightNav {
    background-color: var(--defaultLightBackground);
    color: var(--defaultLightText) !important;
}

/* Pills */
.darkPill {
    background-color: var(--defaultDarkBackground) !important;
    color: var(--defaultDarkText) !important;
}

.lightPill {
    background-color: var(--defaultLightBackground) !important;
    color: var(--defaultLightText) !important;
}

.darkPill:hover {
    background-color: var(--pillDarkBackground) !important;
    color: var(--pillDarkText) !important;
}

.lightPill:hover {
    background-color: var(--pillLightBackground) !important;
    color: var(--pillLightText) !important;
}



/* GENERAL */
/* General Text */
.darkText {
    color: var(--defaultDarkText) !important;
}

.lightText {
    color: var(--defaultLightText) !important;
}

/* Special Text */
.darkEmphasisText {
    color: var(--emphasisDark) !important;
}

.lightEmphasisText {
    color: var(--emphasisLight) !important;
}

.darkBorder {
    border-bottom: 2px solid var(--emphasisDark);
}

.lightBorder {
    border-bottom: 2px solid var(--emphasisLight);
}


/* COMPONENTS */
/* Background */
.darkComponentBackground {
    background-color: var(--darkComponentBackground);
    color: var(--defaultDarkText);
}

.lightComponentBackground {
    background-color: var(--lightComponentBackground);
    color: var(--defaultLightText);
}

/* ABOUT ME SECTION*/
/* Buttons */
.darkAboutButton.inactive:hover {
    background-color: var(--pillDarkBackground);
    color: var(--pillDarkText);
}
.lightAboutButton.inactive:hover {
    background-color: var(--pillLightBackground);
    color: var(--pillLightText);
}
.darkAboutButton.active {
    background-color: var(--darkComponentBackground)
}
.lightAboutButton.active {
    background-color: var(--lightComponentBackground)
}
.darkAboutButton.active::before {
    box-shadow: 5px 5px 0 5px var(--darkComponentBackground);
}
.lightAboutButton.active::before {
    box-shadow: 5px 5px 0 5px var(--lightComponentBackground);
}
.darkAboutButton.active::after {
    box-shadow: -5px 5px 0 5px var(--darkComponentBackground);
}
.lightAboutButton.active::after {
    box-shadow: -5px 5px 0 5px var(--lightComponentBackground);
}