/* THEME CHANGES */
/* Main Background */
.darkGradientBackground {
    background: linear-gradient(158deg, rgba(2, 0, 36, 1) 0%, rgba(21, 93, 159, 1) 50%, rgba(12, 125, 148, 1) 100%);
}

.lightGradientBackground {
    background: linear-gradient(320deg, rgba(179, 177, 0, 1) 0%, rgba(61, 186, 230, 1) 29%, rgba(143, 236, 255, 1) 67%);
}

/* NAV */
/* Background */
.darkNav {
    background-color: #000000;
    color: white;
}

.lightNav {
    background-color: #ffffff;
    color: black;
}

/* Icons */
.iconThemeDark {
    color: #ffffff;
}

.iconThemeLight {
    color: #000000;
}

.test {
    color: #ffffff ;
}